/* main */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700;800&family=Orelega+One&family=Rubik+Gemstones&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    caret-color: transparent;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: #000;
}

.container {
    max-width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px
}

.col-4 {
    width: 33.3333%;
    padding: 0 15px;
}

/* main */


/* header */
#header {
    position: fixed;
    width: 100%;
    padding: 15px 0;
    background-color: black;
    z-index: 3;
    transition: 0.5s;
}

.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__nav>a {
    display: flex;
}

.header__nav>a img {
    width: 80%;
    height: 80%;
}

.nav {
    display: flex;
    column-gap: 20px;
}

.nav li {
    text-transform: capitalize;
    font-size: 20px;
}

.nav li a {
    color: white;
}

.header-fixed {
    background-color: rgb(63, 62, 62);
    transition: 0.5s;
    padding: 10px 0;
    opacity: 0.3;
    height: 90px;
    margin-top: -10px;

}

.header-fixed:hover {
    opacity: 0.9;
}


/* header */

/* backdrop */
.backdrop-burger {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: -1;
    opacity: 0;
    transition: 0.5s;
}

.show-backdrop {
    z-index: 3;
    opacity: 1;
}

/* backdrop */


/* cover */
#cover {
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background: linear-gradient(to right, #1d976c, #93f9b9);
}

.cover__container {
    display: flex;
    align-items: center;
    height: 100%;
}

.cover__wrap {
    background-color: #F6F6F8;
    opacity: 0.9;
    backdrop-filter: blur(10px);
    border: 1px solid gray;
    border-radius: 15px;
    padding: 40px;
    z-index: 2;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    width: 40vw;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

h1 {
    font-size: 40px;
    color: #A85748;
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
    text-align: center;
}

h2 {
    font-size: 30px;
    color: #A85748;
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
    text-align: center;
}

.cover__wrap p {
    font-size: 20px;
    color: #A85748;
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
    text-align: center;
}

.cover__wrap button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

.cover__button,.cover__btn__2 {
    box-sizing: border-box;
    background: rgba(217, 217, 217, 0.58);
    border: 1px solid white;
    box-shadow: 12px 17px 51px rgba(0, 0, 0, 0.22);
    backdrop-filter: blur(6px);
    border-radius: 17px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    font-weight: bolder;
    font-family: 'OrelegaOne-Regular';
    color: #A85748;
}

.cover__button:hover,.cover__btn__2:hover {
    border: 1px solid #A85748;
    transform: scale(1.05);
}

.cover__button:active,.cover__btn__2:active {
    transform: scale(0.95) rotateZ(1.7deg);
}


/* cover */

/* firstSwiper */

#main {
    padding: 210px 0;
    height: 100vh;
}

#main img {
    opacity: none;
}

.swiper__top {
    height: 100vh;
    margin-top: -460px;
    overflow: hidden;
}

#main .swiper-slide {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#main .swiper-slide:nth-child(1) {
    background-image: url('../images/slayd1.jpg');
}

#main .swiper-slide:nth-child(2) {
    background-image: url('../images/slayd2.jpg');
}

#main .swiper-slide:nth-child(3) {
    background-image: url('../images/slayd3.png');
}

#main .swiper-pagination-bullet {
    width: 20px;
    height: 20px;
    background: white;
}

/* end firstSwiper */





/* start Categories */

#categories {
    padding: 120px 0 30px 0;
}

#categories p {
    font-size: 20px;
    color: #A85748;
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
    text-align: center;
}

.categories__choise {
    padding: 30px 0;
    display: flex;
    column-gap: 20px;
    justify-content: center;
    z-index: 5;
}


.categories__box img {
    width: 100%;
    height: 300px;
    object-fit: scale-down;
}

.categories__box:hover {
    box-shadow: 0 10px 15px rgba(192, 192, 192, 0.5);
    border-radius: 15px;
}

.categories__choise button {
    user-select: none;
}

.search_wrap{
    width: 250px;
    margin: 0 auto;
}

.srchI {
    width: 100%;
    max-width: 220px;
    height: 40px;
    padding: 12px;
    border-radius: 12px;
    border: 0.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.srchI:hover {
    border: 2px solid lightgrey;
    box-shadow: 0px 0px 20px -17px;
    caret-color: #A85748;
}

.srchI:active {
    transform: scale(0.95);
    caret-color: #A85748;
}

.srchI:focus {
    border: 1px solid #A85748;
    caret-color: #A85748;
}

.search {
    margin: 0 0 0 5px;
    position: absolute;
    height: 40px;
    width: 40px;
    padding: 5px;
    border-radius: 12px;
    border: 1.5px solid lightgrey;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}
.search:hover {

    border: 1.5px solid #A85748;
    outline: none;
    transition: all 0.3s cubic-bezier(0.19, 1, 0.22, 1);
    box-shadow: 0px 0px 20px -18px;
}

.search:active {
    transform: scale(0.95);
}


.search-icon {
    margin-top: 5px;
    fill: #A85748;
    height: 24px;
    width: 24px;
}
.search-icon:hover {
    fill: #cd867a;
}

.btn {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #A85748;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 600;
    letter-spacing: 2px;
    background: transparent;
    color: #A85748;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}

.btn:hover {
    background: rgb(236, 221, 204);
    box-shadow: 0 0 15px 2px rgba(218, 218, 218, 0.815);
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.btn:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear;
}

.btn::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg);
}

@keyframes sh02 {
    from {
        opacity: 0;
        left: 0%;
    }

    50% {
        opacity: 1;
    }

    to {
        opacity: 0;
        left: 100%;
    }
}

.btn:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in;
}

.active {
    background-color: #A85748;
    pointer-events: none;
    color: #fff;
    box-shadow: 0 0 15px 2px rgba(218, 218, 218, 0.815);
}


/* end Categories */



/* best view */

#view {
    padding: 50px 0;
    background-color: #F6F6F8;
}

#view h2 {
    padding: 0 0 30px 0;
}

#view .swiper {
    height: 250px;
}

#view .swiper-slide {
    object-fit: cover;
    background-repeat: no-repeat;
    background-size: 158%;
    background-position: center;
    user-select: none;

}

#view .swiper-slide:nth-child(1) {
    background-image: url('../images/slayd1.jpg');
}

#view .swiper-slide:nth-child(2) {
    background-image: url('../images/slayd2.jpg');
}

#view .swiper-slide:nth-child(3) {
    background-image: url('../images/slayd3.png');
}

#view .swiper-slide:nth-child(4) {
    background-image: url('../images/slyde4.jpg');
}

#view .swiper-slide:nth-child(5) {
    background-image: url('../images/slyde5.jpeg');
}


#view .swiper-button-next, .swiper-button-prev {
    color: white;
}

#view .swiper-button-next:after, .swiper-button-prev:after {
    font-size: 50px;
}



/* end best view */


/* start accordion */


#accordionSection {
    padding: 30px 0;
    color: #A85748;
}

.accordion {
    padding: 30px 0;
}

.accordion__name {
    padding: 20px;
    background: rgba(235, 235, 236, 0.7);
    box-shadow: rgb(0 0 0 / 20%) 0px 2px 1px -1px, rgb(0 0 0 / 14%) 0px 1px 1px 0px, rgb(0 0 0 / 12%) 0px 1px 3px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    font-size: 20px;
    border-radius: 10px;
}

.plus {
    width: 30px;
    height: 30px;
    transition: 0.5s;
    background-color: silver;
    border: 0;
    border-radius: 50px;
}

.accordion__content {
    /* display: none; */
    padding: 10px 20px;
    overflow: hidden;
    max-height: 0;
    transition: 0.5s ease-out;
    justify-content: center;
    flex-direction: row;
}


.accordion__content p {
    font-size: 20px;
    padding: 20px 0;
    text-indent: 35px;
    text-align:left;
}

.imgCntAcc {
    float:left;
    display: inline;
    width: 340px;
    padding: 10px 20px;
    margin: 0 auto;
}

.accordion__wrap.accordion__active .accordion__content {
    max-height: 1000px;
    transition: 0.5s ease-in;
}


.accordion__wrap.accordion__active .plus {
    rotate: 45deg;
    background-color: #A85748;
}

/* end accordion */

/* promotions */

#promotions {
    /* height: 80vh; */
    background-image: url('../images/main/Ñhristmas_tree.png');
    background-repeat: no-repeat;
    background-size: 50vh;
    background-position: left bottom;
}

.elka {
    background-image: url('../images/main/snowman__bottom.png');
    background-repeat: no-repeat;
    background-size: 30vh;
    background-position: bottom -90px right 0px;
    height: 400px;
}

#garland {
    position: relative;
    top: 0;
    left: 0;
    background-image: url('../images/christmas.png');
    height: 36px;
    width: 100%;
    overflow: hidden;
    z-index: 99;
}

#nums_1 {
    padding: 100px
}

.garland_1 {
    background-position: 0 0
}

.garland_2 {
    background-position: 0 -36px
}

.garland_3 {
    background-position: 0 -72px
}

.garland_4 {
    background-position: 0 -108px
}

.cover__wrap__prom {
    margin: 0 auto;
    max-width: 80vw;
    min-width: 250px;
    opacity: 0.9;
    border-radius: 15px;
    padding: 40px;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 15px;
    box-shadow: 0.3em 0.3em 0.7em #00000015;
    transition: border 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.cover__wrap__prom p {
    font-size: 20px;
    color: #A85748;
    font-family: 'OrelegaOne-Regular';
    font-weight: 400;
    text-align: center;
}

.cover__wrap__prom button {
    padding: 10px 15px;
    font-size: 20px;
    cursor: pointer;
}

/* end promotions */


/* footer */

#footer {
    background-color: #F6F6F8;
    padding: 30px 0 0 0;
}

.footer__wrap {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* .box__footer {
    min-width: 242px;
} */

.box__footer li{
    width: 40px;
    height: 40px
}

.adress__icon, .telefon__icon, .mail__icon {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 15px;
    column-gap: 15px;
    padding: 10px 0 0 0;
    fill: #999999;
}
.adress__icon:hover, .telefon__icon:hover, .mail__icon:hover {
    fill: #A85748;
}

.contacts {
    gap: 20px;
    padding: 20px 10px 20px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.contacts>div {
    min-width: 150px;
}

#footer p {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #999999;
}

#footer ul {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: end;
}

.bi-telegram,.bi-instagram,.bi-whatsapp{
    fill:#A85748;
}

.bi-telegram:hover{
    border-radius: 50%;
    fill: #0088cc;
}

.bi-instagram:hover{
    border-radius: 10px;
    fill: rgb(202, 214, 232);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
}

.bi-whatsapp:hover{
    background:linear-gradient(220deg, #E5FFCC, #1EBEA5, #00E676, #D0E9EA, #EDF8F5);
    border-radius: 50%;
    fill: rgb(223, 247, 236);
}

.copyright {
    font-weight: 400;
    font-size: 13px;
    line-height: 21px;
    text-align: center;
    color: #999999;
    padding: 30px 0 30px 0;
}